.box
{
    font-family: sans-serif;
    font-size: 90%;
    text-align: center;
    align-content: end;
    padding: 5px;
    margin: 5px;
    width: 120px;
    height:120px;
    flex-direction: column;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 5%;
}

.img{
    padding: 2px;
}

.seis
{
    background: #F7941D;
}

.seis:hover
{
    box-shadow: 0px 1px 0px 1px gray;
}